body {
  /* font-family: 'VT323', monospace; */
  color: green;
  background: url("../../assets/images/vintage-concrete.png");
  /* background-size: 100% 100%; */
}

p, .screen-container { 
  font-family: 'ledfontsharpRegular'; 
  font-weight: normal; 
  font-style: normal; 
  text-transform: uppercase;
}
a:link, a:visited {
  text-decoration: none;
}

h4 {
  margin: 5px 0;
}

.main-container {
  box-sizing: border-box;
  background-color: rgb(246,0,0);
  /* margin: auto; */
  height: 100%;
  border-radius: 25px;
  padding: 1px 0;
  width: 768px;
  margin: 0 auto;

}

.screen-container {
  background-color: rgba(14, 14, 14, 0.849);
  box-sizing: border-box;
  padding: 1em 2em;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: 
    'photo wins-losses'
    'photo blanks'
    'photo guess-text'
    'photo letters-guessed'
    'photo letters'
    ;
}

header {
  width: 95%;
  margin: 0 auto;
  background-color: rgb(255,238,0);
  color: rgb(246,0,0);
  font-family: 'Coustard', serif;
  border-radius: 15px;
  text-align: center;
}

footer {
  width: 95%;
  /* color: rgb(255,238,0); */
  font-family: 'Coustard', serif;
  text-align: center;
  font-size: .5em;
}

.photo {
  width: 65%;
  object-fit: cover;
  border-radius: 50%;
  grid-area: photo;
}

.wins-losses {
  grid-area: wins-losses;
}
#fillInTheBlank {
  grid-area: blanks;
}
#guess-text {
  grid-area: guess-text;
}
#letters-text {
  grid-area: letters-guessed;
}
#alreadyGuessed {
  grid-area: letters;
}


.keypad-container {
  box-sizing: border-box;
  /* text-align: center; */
  /* background-color: midnightblue; */
  color: black;
  background-color: blue;
  font-weight: bold;
  /* margin: 5px auto; */
  padding: 5px;
  border-style: solid;
  border-color: rgb(255,238,0);
  border-width: 5px;
  border-radius: 15px;
  width: 90%;
  margin: 0 auto;
  
  
}

.keys {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  /* width: 100%; */
  /* margin: 0 auto; */
}
.play-buttons {
  display: flex;
  justify-content: center;
  
}

.main-btn {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(246,0,0);
  border-radius: 5px;
  font-weight: bold;
  font-size: 1em;
  width: 4em;
  height: 2.25em;
  margin: .5em .5em .25em .5em;
  border-color: black;
  border-width: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.letter {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1em;
  width: 2.5em;
  height: 2.25em;
  margin: .1em;
  cursor: pointer;
}
.vowel {
  background-color: yellow;
}
.consonant {
  border-color: black;
  background-color: orange;
}

#feedback {
    color: rgb(255,238,0);
    font-family: 'Coustard', serif;
    text-align: center;
}

@media (max-width: 480px) {
  /* .photo {
      width: 50%;
      object-fit: cover;
      border-radius: 50%;
  } */
  .main-container {
    width: 100%;
  }
  p, .screen-container { 
    font-size: .75em;
  }
  .main-btn {
    text-align: center;
    border-color: black;
    background-color: rgb(246,0,0);
    border-width: 2px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1em;
  }
  
  .letter {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1em;
    width: 1.5em;
    height: 1.25em;
    margin: .1em .02em;
  }

}
